/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2016, 2:38:44 AM
    Author     : yaroslv
*/
main{
    width: 1000px;
    margin: 0 auto;
    font-size: 0px;
    position: relative;
}
table{
    width: 100%;
}
th{
    background-color: #79a;
}
td{
    text-align: center;
    border: 1px solid black;
}
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #aaa;
    position: relative;
    font-size: 14px;
        
}
#panel{
    position: absolute;
    left: 0;
    top: 50px;
    width: 250px;
    display: block;
    min-height: 400px;
    border: 0px solid black;
    font-size: 14px;
    float: left;
    
}
#content{
    display: block;
    width: calc(100% - 250px);
    min-height: 400px;
    font-size: 14px;
    float: right;
    border-left: 2px solid #aaa;
    padding: 10px;
}
.edit-form{
    padding: 10px;
}
.edit-form .input{
    margin: 5px 0;
}
.edit-form .input label{
    display: inline-block;
    width: 150px;
}
.avatar{
    width: 150px;
    height: 150px;
    border: 3px solid #e6a313;
    display: inline-block;
    border-radius: 75px;
    overflow: hidden;
}
.avatar img{
    width: 144px;
    height: 144px;
}

.edit-form .file{
    margin: 5px 0 20px 15px;
    height: 30px;
    width: 100px;
    background: #333868;
    color: #fff;
    border: none;
}
.edit-form .file label{
    width: 100px;
    text-align: center;
    line-height: 30px;
    
}
.btn{
    height: 30px;
    width: 100px;
    background: #333868;
    color: #fff;
    border: none;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}
.btn:hover{
    font-weight: bold;
    box-shadow: 0px 0px 15px #333868
}
.btn:active{
    font-weight: normal;
}
.file input.upload_btn{
    filter: alpha(opacity=0);
    opacity: 0;
    height: 30px;
    width: 100px;
    background: #333868;
    color: #fff;
    border: none;
}
.user{
    display: inline-block;
    
    height: 50px;
    
}
.user .name{
    display: inline-block;
    vertical-align: top;
    height: 50px;
    color: #000;
    line-height: 50px;
    margin: 0 0 0 10px;
}
.user .avatar{
    width: 46px;
    height: 46px;
    
}
.user .avatar img{
    width: 40px;
    height: 40px;
}
.admin-menu{
    text-align: right;
    margin: 5px 0 0 0;
    list-style: none;
}
.admin-menu > li{
    display: block;
    height: 30px;
    border-bottom: 1px solid #7d7;
    line-height: 30px;
}
.admin-menu > li > a:hover{
    background-color: #dbe5ae;
}
.admin-menu > li > a{
    display: block;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px 0 0;
}