/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2016, 2:38:44 AM
    Author     : yaroslv
*/
main{
    width: 100%;
    
    font-size: 0px;
}
table{
    width: 100%;
}
th{
    background-color: #79a;
}
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
    border:0px solid black;
}
#panel{
    width: 250px;
    display: block;
    min-height: 400px;
    border: 0px solid black;
    font-size: 14px;
    float: left;
}
#content{
    display: block;
    width: calc(100% - 250px);
    min-height: 400px;
    border: 2px solid green;
    font-size: 14px;
    float: right;
}
.edit-form{
    padding: 10px;
}
.edit-form .input{
    margin: 5px 0;
}
.edit-form .input label{
    display: inline-block;
    width: 150px;
}
.edit-form .avatar{
    width: 150px;
    height: 150px;
    border: 3px solid #e6a313;
    margin: 10px 0 0 10px;
    border-radius: 75px;
    overflow: hidden;
}
.edit-form .avatar img{
    width: 144px;
    height: 144px;
}
.edit-form .file{
    margin: 5px 0 20px 15px;
    height: 30px;
    width: 100px;
    background: #333868;
    color: #fff;
    border: none;
}
.edit-form .file label{
    width: 100px;
    text-align: center;
    line-height: 30px;
}
.btn{
    height: 30px;
    width: 100px;
    background: #333868;
    color: #fff;
    border: none;
}
.btn:hover{
    font-weight: bold;
    box-shadow: 0px 0px 15px #333868
}
.btn:active{
    font-weight: normal;
}
.file input.upload_btn{
    filter: alpha(opacity=0);
    opacity: 0;
    height: 30px;
    width: 100px;
    background: #333868;
    color: #fff;
    border: none;
}